.root{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.answer-box{
  height: 73px;
  margin: 8px;
  border: 1px solid gray;
  border-radius: 10px;
}

.answer-box.correct{
  background: lightgreen;
  color: darkgreen;
}

.answer-box.wrong{
  background: lightsalmon;
  color: darkred;
}

h4{
  margin: 4px;
  font-size: 18px;
}

p{
  margin: 4px;
}
