<div class="form" [formGroup]="group">
    <div class="panel-heading" *ngIf="!ifEdit">
      <h1>Create List</h1>
    </div>
    <div class="panel-heading" *ngIf="ifEdit">
      <h1>Edit List</h1>
    </div>
    <div class="panel-body">

      <div class="form-field" *ngIf="control('caption') as field">
        <label>Caption:</label>
        <input id="caption" name="caption" type="text" [formControl]="field">
      </div>

      <div class="form-field"  *ngIf="control('description') as field">
        <label>Description:</label>
        <textarea rows="3" [formControl]="field"></textarea>
      </div>

      <div class="form-field"  *ngIf="control('imageUrl') as field">
        <label>imageUrl:</label>
        <input [formControl]="field">
      </div>

      <div class="form-field" *ngIf="control('color') as field">
        <label>Color:</label>
        <select id="color" name="color" [formControl]="field">
          <option value="">Select color....</option>
          <option *ngFor="let color of colors"
                  [value]="color.code"
                  [style.color]="color.code">
            {{color.name}}
          </option>
        </select>
      </div>

    </div>
    <button [disabled]="!group.valid" (click)="onSave()">Save</button>

</div>
