<div class="form" [formGroup]="group">
    <div class="header" *ngIf="listId === -1">
      <h1>Create List</h1>
    </div>
    <div class="header" *ngIf="listId !== -1">
      <h1>Edit List</h1>
    </div>

    <div class="body">
      <div class="field" *ngIf="control('caption') as field">
        <label>Caption:</label>
        <input id="caption" name="caption" type="text" [formControl]="field">
      </div>

      <div class="field"  *ngIf="control('description') as field">
        <label>Description:</label>
        <textarea rows="3" [formControl]="field"></textarea>
      </div>

<!--      <div class="field"  *ngIf="control('imageUrl') as field">-->
<!--        <label>imageUrl:</label>-->
<!--        <input [formControl]="field">-->
<!--      </div>-->

      <div class="field" *ngIf="control('color') as field">
        <label>Color:</label>
        <select id="color" name="color" [formControl]="field">
          <option value="">Select color....</option>
          <option *ngFor="let color of colors"
                  [value]="color.code"
                  [style.color]="color.code">
            {{color.name}}
          </option>
        </select>
      </div>

      <div class="field" *ngIf="control('imageUrl') as field">
        <label>Image Url:</label>
        <select id="imageUrl" name="imageUrl" [formControl]="field">
          <option value="">Select imageUrl....</option>
          <option *ngFor="let image of imageUrl">
            {{image.name}}
          </option>
        </select>
      </div>

      <button [disabled]="!group.valid" (click)="onSave()">Save</button>
    </div>


</div>
