
<div class="root">
  <div class="title" >
    <img src="https://img.icons8.com/color/96/000000/angularjs.png" alt="logo" width="70">
    <h4 style="font-family: cursive">Yuval Elmakaies Quiz!</h4>
  </div>

  <div class="container">
    <app-question-presenter
      *ngIf="!isQuizOver"
      [question]="currentQuestion"
      (answerChosen)="selectAnswer($event)"></app-question-presenter>

    <app-quiz-over *ngIf="isQuizOver"></app-quiz-over>
  </div>

  <div class="summary">
    <app-summary [questions]="summary"></app-summary>
  </div>
</div>

