
<div class="container">
  <div class="card">
    <div class=" d-flex.justify-content-between.p-3">
      <div class="image">
        <img src="https://img.icons8.com/color/96/000000/angularjs.png" alt="logo" width="90">
      </div>
      <div class="quiz-header">
        <h4 style="font-family: cursive">Yuval Elmakaies Quiz!</h4>
        <span style="font-style: italic">Welcome User</span>
      </div>
    </div>
    <div id="question">Question</div>
    <div id="answer-btn" class="btn-grid">
      <button class="btn">Answer 1</button>
      <button class="btn">Answer 2</button>
      <button class="btn">Answer 3</button>
      <button class="btn">Answer 4</button>
    </div>
  </div>
</div>
